<footer class="footer" role="contentinfo">
 
Footer
  

<!-- Begin generic overlay modal -->
{% if modal %}
  {% include "content/includes/modal.html" %}
{% endif %}

<!-- htmllint attr-bans="[]" -->
{% if buildtype === 'development' %}
  <script>
    window.dataLayer = [];
  </script>
{% else %}
  <!-- Google Tag Manager -->
  <script>
    dataLayer = [{
      'environment': '{{ buildtype }}'
    }];
  </script>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFJWBD"
  height="0" width="0" class="csp-inline-patch-footer"></iframe></noscript>
  <script src="/js/google-analytics.js"></script>
  <!-- End Google Tag Manager -->

{% endif %}
<!-- htmllint attr-bans="$previous" -->


</body>
</html>
