<!DOCTYPE html>
<html lang="en"> 
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="*todo* site name" property="og:site_name">
{% if lastupdate %}
<meta name="DC.Date" content="{{lastupdate| date: '%Y-%m-%d'}}" property="http://purl.org/dc/terms/date">
{% endif %}
{% if title %}
<meta content="{{ title }}" property="og:title">
{% else %}
<meta content="https://www.vets.gov" property="og:title">
{% endif %}
<meta content="website" property="og:type">
{% if path %}
<meta content="https://www.vets.gov/{{ path }}" property="og:url">
{% endif %}
<meta content="https://www.vets.gov/img/design/logo/og-image.jpg" property="og:image">
{% if tags %}
{% for tag in tags %}
<meta content="{{ tag }}" property="article:tag">
{% endfor %}
{% endif %}
{% if title === 'Home' %}
<title>*todo* domain?</title>
{% else %}
<title>{{ title }}: *todo* domain?</title>
{% endif %}

<!-- Icons -->
<link href="/img/design/icons/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />
<link href="/img/design/icons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
<link href="/img/design/icons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
<link href="/img/design/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
<link rel="shortcut icon" href="/img/design/icons/favicon.ico" />

<meta name="msapplication-TileImage" content="/img/design/icons/apple-touch-icon-114x114">
<meta name="msapplication-TileColor" content="#144073">

<!-- CSS -->
{% if entryname %}
<link rel="stylesheet" href="/generated/{{ entryname }}.css">
{% else %}
<link rel="stylesheet" href="/generated/default.css">
{% endif %}

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Roboto+Slab" rel="stylesheet" type="text/css">

<script>
//<![CDATA[
window.webpackManifest = 'CHUNK_MANIFEST_PLACEHOLDER';
//]]>
</script>

<script src="/generated/vendor.js"></script>
{% if entryname %}
<script src="/generated/{{ entryname }}.entry.js"></script>
{% else %}
<script src="/generated/no-react.entry.js"></script>
{% endif %}

</head>
<body class="{{ body_class }}">

<a class="show-on-focus" href="#content">Skip to Content</a>

<header class="header">

  Header

  <!-- /header alert box -->

  <div class="row va-flex" id="va-header-logo-menu">
    <div role="banner" class="va-header-logo-wrapper">
      <a href="/" class="va-header-logo">
      Logo
      </a>
    </div>

    {% if body_class != 'page-playbook' %}
    {% include "content/includes/navigation.html" %}
    {% endif %}  
  </div>

  
</header>

